<h3 class="ui header">{{t "forms.i-i-s-test-2-сотрудники-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.табНомер
      class=(if (v-get validationModel "табНомер" "isInvalid") "error")
      label=(t "forms.i-i-s-test-2-сотрудники-e.табНомер-caption")
      data-test-i-i-s-test-2-сотрудники-e-табНомер=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "табНомер" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.фамилия
      class=(if (v-get validationModel "фамилия" "isInvalid") "error")
      label=(t "forms.i-i-s-test-2-сотрудники-e.фамилия-caption")
      data-test-i-i-s-test-2-сотрудники-e-фамилия=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "фамилия" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.имя
      class=(if (v-get validationModel "имя" "isInvalid") "error")
      label=(t "forms.i-i-s-test-2-сотрудники-e.имя-caption")
      data-test-i-i-s-test-2-сотрудники-e-имя=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "имя" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.отчество
      class=(if (v-get validationModel "отчество" "isInvalid") "error")
      label=(t "forms.i-i-s-test-2-сотрудники-e.отчество-caption")
      data-test-i-i-s-test-2-сотрудники-e-отчество=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "отчество" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.номерПас
      class=(if (v-get validationModel "номерПас" "isInvalid") "error")
      label=(t "forms.i-i-s-test-2-сотрудники-e.номерПас-caption")
      data-test-i-i-s-test-2-сотрудники-e-номерПас=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "номерПас" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.серияПас
      class=(if (v-get validationModel "серияПас" "isInvalid") "error")
      label=(t "forms.i-i-s-test-2-сотрудники-e.серияПас-caption")
      data-test-i-i-s-test-2-сотрудники-e-серияПас=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "серияПас" "message")}}
  </div>
</form>
